@model IEnumerable<Report>
@{
    ViewData["Title"] = "Report";
}

<head>
   <link rel="stylesheet" href="~/css/t_dashboard.css" asp-append-version="true" />
</head>
<body class="mb-3" >
        
        <header class="bar ">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3 align-content-center">

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="width:100%">
            <ul class="navbar-nav flex-grow-1 text-center">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area=""  asp-controller="Student" asp-action="Quiz">Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Marks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Course">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Report">Reports</a>
                </li>
            </ul>
        </div>

        </nav>
        </header>

        
        <div class="form-popup shadow p-3" id="myForm" style="display:none">
          <form method="post"  class="container">
            <h3 style="justify-self:center">Add a new Report</h3>
                   <br />
                  <input type="text" class="form-control" placeholder="Enter Teacher Email" name="tEmail" >
                  <textarea type="text" class="form-control" placeholder="Enter Report" name="name" ></textarea>

            <button type="submit" class="btn btn-outline-primary m-1" asp-action="Course">Add</button>
            <button type="button" class="btn cancel m-1 btn-outline-secondary" onclick="closeForm()">Close</button>
          </form>
        </div>

        <div class="card shadow mb-3 p-1" style="width:98vw;height:50px;border-radius:8px">
            <div class="flex2">
                  <div class="text">Reports</div>
              <div class="flex1">
                  <div class="InputContainer"><input placeholder="Search"  style="border-radius:8px;border:none"/></div>
                  <div ><a class="btn btn-primary" style="width:300px;border-radius:8px" onclick="openForm()">New Report</a></div>
              </div>
            </div>
        </div>

        <div style="width:98vw">
             <div class="card shadow" style="border-radius:8px; align-items:center">
                 <div><br /></div>
                 @foreach(var obj in Model)
                 {
                         <a class="cards flex2 quiz" style="width:95%"  asp-controller="Student">
                             <p style="text-align:center">@obj.ReportNumber</p>
                             <p style="text-align:center">@obj.teacherId</p>
                             <p style="text-align:center">@obj.ReportStatement</p>
                         </a>
                 }
                 <div><br /></div>
             </div>
        </div>

    <script>
var Quizes = new Array();

        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
        function addOption(element) {
                
            var container = document.getElementById("mainDiv");
            var section = document.getElementById("mDiv");
            element.parentElement.parentElement.parentElement.appendChild(section.cloneNode(true));
        }

        function remove(element) {
            element.parentElement.parentElement.remove()
        }

        function addQuestion() {
             var container = document.getElementById("Questions");
            var section = document.getElementById("question");
            container.appendChild(section.cloneNode(true));
        }

        function removeQuestion(element) {
            element.parentElement.parentElement.remove()
        }

    </script>
</body>
